.img{
    height: 200px;
    width: 200px;
}
body{
    background-color: black;
}
h1{
    color: red;
    display: flex;
    justify-content: center;
}
.accordion{
    margin-inline: 20%;
}
.centrar-ataques{
    display: flex;
    justify-content: center;
   padding-inline: 10px;
}
.personajes-array{
    display: flex;
    justify-content: center;
}